:focus{
    outline: none;
}
#test_tb{
    width: 80%;
    height: 100px;
    margin: 10px auto 0 auto;
}
#test_tb_btn{
    text-align:center;
}
#test_tb_btn a{
    width: 80px;
    border: 1px solid #1db0b8;
    color: #1db0b8;
}
