@model moocweb.Models.@class
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_adminindex.cshtml";
}
<link rel="stylesheet" href="~/CSS/t_classmanagement.css">
<script>
    function adelete(tmp) {
        var tr = $(tmp).parent().parent().parent();
        var td = tr.children("td");
        var id = td.eq(0).text();
        $.ajax({
            url:'@Url.Action("Del_Class","Teacher")',
            type: 'post',
            dataType: "json",
            data: {
                id: id
            },
            success: function (r) {
                if (r.result == '0') {
                    alert("删除成功");
                    $("#infodg").datagrid('reload');
                } else{
                    alert("删除失败");
                }
            }
        })
    }
        function formatOpen(val,row,index){
            return '<a style="color: #1db0b8;text-decoration: none" href="/Teacher/StuClass/' + row.class_id + '">'+row.class_name+'</a>';
        }
        function formatDelete(val,row,index){
            return '<button style="color: #1db0b8;text-decoration: none;border:none;background:none;" onclick="adelete(this)">' + '删除' + '</a>';
        }
        function delTr($this){
            $($this).parent().parent().remove();
        }
    function addSuccess(data,status,xhr) {
        alert("添加成功");
    }
    function addFailed(xhr,status,error) {
        alert("添加失败");
    }
    function addComplete(xhr,status) {
        $("#cm").datagrid("reload");
    }
</script>
<div style="width: 100%;height:100%;">
    <table id="cm" title="<center>班级管理</center>" class="easyui-datagrid"
           data-options="
                fit:true,
                rownumbers:true,
                pagination:true,
                singleSelect:true,
                url:'/Teacher/Get_classinfo',
                method:'post',
                striped:true,
                toolbar: '#cm_tb'">
        <thead>
            <tr>
                <th data-options="field:'class_id',align:'center',hidden:true" width="13%">ID</th>
                <th data-options="field:'class_name',formatter:formatOpen,align:'center'" width="18%" >班级名称</th>
                <th data-options="field:'tea_name',align:'center'" width="18%">管理人员</th>
                <th data-options="field:'describe',align:'center'" width="18%">班级信息</th>
                <th data-options="field:'s_count',align:'center'" width="18%">班级人数</th>
                <th data-options="field:'create_time',align:'center'" width="18%">创建时间</th>
                <th data-options="field:'delete',formatter:formatDelete,align:'center'" width="10%">操作</th>
            </tr>
        </thead>
    </table>
    <div id="cm_tb">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus',plain:true" onclick="$('#append_class').window('open')">添加</a>
    </div>
</div>
<div id="append_class" class="easyui-window" title="<center>添加班级</center>" style="width: 500px;height: 300px"
     data-options="
                modal:true,
                closed:true,
                draggable:false,
                minimizable:false,
                maximizable:false,
                collapsible:false">
    @using (Ajax.BeginForm("Add_class", "Teacher", new AjaxOptions()
    {
        HttpMethod = "Post",
        OnSuccess = "addSuccess",
        OnFailure = "addFailed",
        OnComplete = "addComplete"
    })) {
        <table cellpadding="10px">
            <tr>
                <td>班级名称</td>
                <td>@Html.TextBoxFor(model => model.class_name, new { @id = "cname", @class = "easyui-textbox", @type = "text", @required = "required", @style = "width:100%;" })</td>
            </tr>
            <tr>
                <td>管理人员</td>
                <td>@Html.DropDownListFor(model => model.tea_id, ViewBag.Toptions as IEnumerable<SelectListItem>, new { @class = "easyui-combobox", @name = "cmanager", @style = "width:100%;" })</td>
            </tr>
            <tr>
                <td>班级描述</td>
                <td>
                    @Html.TextAreaFor(model => model.describe, new { @id = "cinfo", @class = "easyui-textbox", @required = "required", @style = "width:100%;" })
                </td>
            </tr>
        </table>
        <div id="appendbtn">
            <button class="easyui-linkbutton" type="submit" style="width:80px;border:1px solid #1db0b8;color:#1db0b8;">添加</button>
        </div>
    }
</div>

