
@{
    ViewBag.Title = "PaperManage";
    Layout = "~/Views/Shared/_adminindex.cshtml";
}
<link rel="stylesheet" href="~/CSS/t_exam_paper_management.css">
<script>
    function tname(val, row, index) {
        return '<a style="color: #1db0b8;text-decoration: none" href="/Teacher/Teapaper/' + row.admin_tea + '">' + row.tea_name + '</a>';
    }
</script>
<table class="easyui-datagrid" title="<center>试卷管理</center>" style="width: 100%;height: 100%;"
       data-options="
                    rownumbers:true,
                    pagination:true,
                    singleSelect:true,
                    striped:true,
                    url:'/Teacher/Tea_paper_info',
                    method:'post',
                    toolbar: '#epm_btn'">
    <thead>
        <tr>
            <th data-options="field:'admin_tea'" hidden="hidden" width="30%">ID</th>
            <th data-options="field:'tea_name', formatter:tname, width:'50%', align:'center'">教师姓名</th>
            <th data-options="field:'pcount',width:'50%', align:'center'">试卷数量</th>
        </tr>
    </thead>
</table>


